@import '~antd/dist/antd.css';
#root {
  height: 100%;
}
.header {
  color: #eee;
  background-color: #001529;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;

}
.mid-title{
  font-size: 80%;
}
.content{
  flex-grow: 2;
  padding: 0 10px;

}