@import '~antd/dist/antd.css';
#root {
  height: 100%;
}
.header {
  color: #eee;
  background-color: #001529;
  padding: 0 10px;
  .mid-title{
    font-size: 80%;
    text-align: center;
  }
}

.content{
  flex-grow: 2;
  padding: 0 10px;

}